{% extends "base.html" %}
{% block title %}
<title>수정 페이지</title>
{% endblock %}
{% block main %}
      <h1>블로그 글을 수정하는 페이지 입니다.</h1>
      <form action="{% url "blog:update" id %}" method="post" id ="blog-edit">
        {% csrf_token %}
        <input 
        type="text" 
        placeholder="제목을 입력해주세요" 
        name="title"
        value="{{title}}"/>
        <input type="submit"/>
      </form>
      <textarea 
      placeholder="내용을 입력 해주세요" 
      form="blog-edit" 
      name="content"
      >{{content}}</textarea>
{% endblock %}